NODE_ENV=development

# SIIGO
SIIGO_USER_NAME=<'siigo username, normally is an email'>
SIIGO_ACCESS_KEY=<'Siigo access key'>
SIIGO_DOCUMENT_ID=<document_id>
SIIGO_COST_CENTER_ID=<cost_center_id>
SIIGO_SELLER_ID=<seller_id>
SIIGO_PAYMENT_ID=<payment_id>

# WOMPI
NEXT_PUBLIC_WOMPI_CHECKOUT_URL=https://checkout.wompi.co/p/
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=pub_test_PxbRfYJ9G39OokFqXEzVKtpr5NZqijRl
WOMPI_PRIVATE_KEY=prv_test_3zRfQYI8G7lx87jcCJ2RsQFiNecycX7E
WOMPI_INTEGRITY_SECRET=test_integrity_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=<'Link to redirect the user if them decided to pay via online'>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<'Link to redirect the user if them decided to pay via online'>